@white:#ffffff;
@black:#000000;

// 主题颜色列表
@c-50:#fef2f2;
@c-100:#fee2e2;
@c-200:#fdcbcb;
@c-300:#fba6a6;
@c-400:#f67373;
@c-500:#ec4141;
@c-600:#d92929;
@c-700:#b71e1e;
@c-800:#971d1d;
@c-900:#7e1e1e;
@c-950:#440b0b;



